.services {
  z-index: 10;
}

.services::before, .cta__two::before, .footer::before {
    content: "";
    width: 750px;
    height: 750px;
    border: 130px solid #f7c324;
    position: absolute;
    border-radius: 50%;
    animation: bounce 6s ease-out infinite;
    transform-origin: center bottom;
}

.services::before {
  left: 80%;
  top: -40%;
}

.services__title {
  color: #252758;
  font-size: 70px;
  letter-spacing: -2px;
}

.services__card {
  box-shadow: 0px 10px 60px 0px rgb(37 39 88 / 10%);
  padding-top: 28px;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.services__icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: linear-gradient(
    90deg,
    #5128c4 0%,
    #7541d1 50%,
    #b16aeb 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__icon::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #723fd0 0%, #864cd8 100%);
  clip-path: ellipse(30% 50% at 0% 52%);
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-45deg);
}

.services__icon svg {
  height: 60%;
  width: 60%;
  position: relative;
  color: white;
}

.services__card-title a {
  color: #252758;
  font-size: 24px;
  line-height: 1.5em;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.25s linear;
}

.services__card-title a:hover {
  color: #a461e5;
}

.services__card-desp {
  color: #8b8c9c;
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
}

.services__card-link {
  position: relative;
  display: block;
  border-top: 1px solid #eff0f7;
  color: #252758;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: -0.5px;
  transition: all 0.25s linear;
}

.services__card-link::before {
  content: "";
  height: 1px;
  width: 90px;
  background-color: #a461e5;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s linear;
}

.services__card-link:hover {
  background-color: #f7c324;
  color: #252758;
}

.services__card-link:hover.services__card-link::before {
  width: 0;
}

@keyframes bounce {
  0%,
  90%,
  100% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-50px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-35px);
  }

  70% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 991px) { 
    .services::before, .cta__two::before, .footer::before {
        content: none;
     }
}

@media screen and (max-width: 767px) { 
    .services__title {
        font-size: 60px;
      }
}

@media screen and (max-width: 576px) {
  .services__title {
    font-size: 40px;
  }
}
