.pricing__card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 10px 60px 0px rgb(37 39 88 / 10%);
}

.pricing__card-header {
    border-bottom: 1px solid #eff0f7;
    position: relative;
}

.pricing__card-header::after {
    content: "";
    background-color: #a461e5;
    position: absolute;
    bottom: -1%;
    width: 80px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
}

.pricing__card-header h3 {
    font-size: 48px;
    color: #a461e5;
    font-weight: 800;
}

.pricing__card-header p {
    display: inline-block;
    color: #252758;
    background-color: #f2f3f9;
    font-size: 14px;
    font-weight: 500;
}

.pricing__card-list li {
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0;
}

.pricing__card-btn {
    color: #8B8C9C;
    border: 1px solid #eff0f7;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    transition: all 0.25s linear;
}

.pricing__card-btn:hover {
    color: #252758;
    border-color: #f7c324;
    background-color: #f7c324;
}

.pricing__card-tagLine {
    font-size: 12px;
    text-transform: uppercase;
    color: #a461e5;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    display: block;
}